.App {
  text-align: center;
  background-color: aqua;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid lightblue;
}

.inputDiv{
  display: block;
}

button {
  padding: 1% 2%;
  background-color: blue;
  color: white;
  border: transparent;
  border-radius: 5%;
}
button:hover {
  background-color: #00308f;
}
