.App {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #4caf50;
  width: 500px;
}

.calendar-header {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

.day-name,
.calendar-cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.day-name {
  background-color: #f0f0f0;
}

.empty-cell {
  background-color: #e0e0e0;
}
